@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  color: #fd7e14;
  background-color: #343a40;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

fieldset,
img {
  border: 0;
  width: 100%;
  height: auto;
}

fieldset:hover,
img:hover {
  cursor: pointer;
  transform: scale(1.03);
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media screen and (min-width: 20em) {
  html {
    font-size: 43.75%;
  }
}

@media screen and (min-width: 48em) {
  html {
    font-size: 50%;
  }
}

@media screen and (min-width: 62em) {
  html {
    font-size: 56.25%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  color: #007bff;
  background-color: #fff;
}

/*
Table of contents
1. header
2. feature
3. access
4. workflow
5. gallery
6. download
7. footer
*/
.header {
  text-align: center;
}

.header h1,
.header h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #343a40;
}

.header p {
  margin-top: 2rem;
  line-height: 1.65;
  word-spacing: 0.5rem;
  font-size: 2rem;
  font-weight: 300;
  color: #6c757d;
}

.header__intro {
  background-image: url("/images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 0 2rem;
  margin-bottom: 5rem;
}

.header__intro img {
  margin: 5rem 0;
  width: 150px;
}

@media screen and (min-width: 62em) {
  .header__intro {
    padding: 0 14rem;
    font-size: 3rem;
    background-image: url(/images/bg-header-desktop.png);
  }
}

.header__button {
  display: block;
  margin: 5rem auto;
}

.header__button--ios {
  color: #fff;
  font-size: 2rem;
  padding: 2rem 4rem;
  border: none;
  outline: 0;
  border-radius: 100vh;
  background: #17a2b8;
  width: 300px;
  cursor: pointer;
  margin-bottom: 0px;
}

.header__button--ios:hover {
  filter: opacity(81%);
}

.header__button--mac {
  margin-top: 15px;
  color: #fff;
  font-size: 2rem;
  padding: 2rem 4rem;
  border: none;
  outline: 0;
  border-radius: 100vh;
  background: #007bff;
  width: 300px;
  cursor: pointer;
}

.header__button--mac:hover {
  filter: opacity(81%);
}

@media screen and (min-width: 62em) {
  .header__button {
    display: inline;
  }
  .header__button--mac {
    margin-left: 2rem;
  }
}

.header__track {
  padding: 0 2rem;
  margin: 10rem 0;
}

@media screen and (min-width: 62em) {
  .header__track {
    padding: 0 14rem;
    font-size: 3rem;
  }
}

.feature {
  padding: 0 3rem;
  text-align: center;
}

.feature h1,
.feature h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #343a40;
}

.feature p {
  margin-top: 2rem;
  line-height: 1.65;
  word-spacing: 0.5rem;
  font-size: 2rem;
  font-weight: 300;
  color: #6c757d;
}

.feature img {
  margin: 5rem 0;
}

.feature p {
  margin-bottom: 6rem;
}

@media screen and (min-width: 62em) {
  .feature {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .feature__img {
    flex: 1 1 60%;
  }
  .feature__img img {
    width: 100%;
    max-width: 800px;
    margin-left: -200px;
  }
  .feature__wrapper {
    flex: 1 1 40%;
    text-align: left;
    font-size: 1rem;
    margin-right: 5rem;
  }
}

.access {
  padding: 0 2rem;
  text-align: center;
}

.access h1,
.access h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #343a40;
}

.access p {
  margin-top: 2rem;
  line-height: 1.65;
  word-spacing: 0.5rem;
  font-size: 2rem;
  font-weight: 300;
  color: #6c757d;
}

.access img {
  margin: 6rem 0;
  filter: drop-shadow(0 5px 0.75rem #ebeced);
}

@media screen and (min-width: 62em) {
  .access {
    padding: 0 16rem;
    font-size: 4rem;
  }
  .access img {
    max-width: 900px;
  }
}

.workflow {
  margin: 5rem 0;
  padding: 0 3rem;
}

.workflow__intro {
  text-align: center;
}

.workflow__intro h1,
.workflow__intro h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #343a40;
}

.workflow__intro p {
  margin-top: 2rem;
  line-height: 1.65;
  word-spacing: 0.5rem;
  font-size: 2rem;
  font-weight: 300;
  color: #6c757d;
}

.workflow__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workflow__wrapper > * {
  margin: 6rem 0;
}

.workflow__card {
  text-align: center;
}

.workflow__card h1,
.workflow__card h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #343a40;
}

.workflow__card p {
  margin-top: 2rem;
  line-height: 1.65;
  word-spacing: 0.5rem;
  font-size: 2rem;
  font-weight: 300;
  color: #6c757d;
}

.workflow__card img {
  width: 50%;
  margin-bottom: 2rem;
}

.workflow__card h2,
.workflow__card p {
  margin: 2rem 0;
}

@media screen and (min-width: 62em) {
  .workflow__intro {
    margin-top: 5rem;
  }
  .workflow__intro h1 {
    font-size: 5rem;
  }
  .workflow__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
  }
  .workflow__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .workflow__card img {
    width: 100%;
    max-width: 80px;
    margin-bottom: 10rem;
  }
  .workflow__card p {
    font-size: 2rem;
    padding: 0 4rem;
  }
}

.gallery {
  margin: 2rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.gallery img {
  width: 100%;
}

@media screen and (min-width: 62em) {
  .gallery {
    margin-top: 20rem;
    padding: 0 20rem;
    flex-direction: row;
    gap: 10rem;
  }
}

.download {
  margin: 10rem 0;
  text-align: center;
}

.download h1,
.download h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #343a40;
}

.download p {
  margin-top: 2rem;
  line-height: 1.65;
  word-spacing: 0.5rem;
  font-size: 2rem;
  font-weight: 300;
  color: #6c757d;
}

.download h1,
.download p {
  padding: 0 4rem;
}

.download__button {
  padding: 0 4rem;
  display: block;
  margin: 5rem auto;
}

.download__button--ios {
  color: #fff;
  font-size: 2rem;
  padding: 2rem 4rem;
  border: none;
  outline: 0;
  border-radius: 100vh;
  background: #17a2b8;
  width: 300px;
  cursor: pointer;
  margin-bottom: 0px;
}

.download__button--ios:hover {
  filter: opacity(81%);
}

.download__button--mac {
  margin-top: 20px;
  color: #fff;
  font-size: 2rem;
  padding: 2rem 4rem;
  border: none;
  outline: 0;
  border-radius: 100vh;
  background: #007bff;
  width: 300px;
  cursor: pointer;
}

.download__button--mac:hover {
  filter: opacity(81%);
}

@media screen and (min-width: 62em) {
  .download {
    margin-top: 20rem;
    padding: 0 10rem;
  }
  .download__content p {
    font-size: 3rem;
    line-height: 1.65;
  }
  .download__button {
    display: inline;
    margin-right: 20px;
  }
}

.footer {
  font-size: 3rem;
  color: #6c757d;
  text-align: center;
  background: #f3f3f3;
  padding: 5rem 10rem;
}

.footer__content {
  margin: 6rem 0;
}

.footer__content ul {
  cursor: pointer;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__logo img {
  width: 20%;
}

.footer__icons {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
}

.footer .attribution {
  font-size: 1.5rem;
}

@media screen and (min-width: 62em) {
  .footer__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer ul {
    font-size: 2rem;
    flex-direction: row;
  }
  .footer__icons {
    gap: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */