@import "mediaQueries";
@import "variables";
@import "mixins";
@import "base";

/*
Table of contents
1. header
2. feature
3. access
4. workflow
5. gallery
6. download
7. footer
*/

// 1. header
.header {
  text-align: center;
  @include h_p;

  &__intro {
    background-image: url("/images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 0 2rem;

    margin-bottom: 5rem;
    img {
      margin: 5rem 0;
      width: 150px;
    }
    //mQ
    @include responsive(pc) {
      padding: 0 14rem;

      font-size: 3rem;
      background-image: url(/images/bg-header-desktop.png);
    }
  }
  &__button {
    display: block;
    margin: 5rem auto;
    &--ios {
      @include buttons($cyan);
      margin-bottom: 0px;
    }
    &--mac {
      margin-top: 15px;
      @include buttons($blue);
    }
    //Mq
    @include responsive(pc) {
      display: inline;

      &--mac {
        margin-left: 2rem;
      }
    }
  }
  &__track {
    padding: 0 2rem;
    margin: 10rem 0;
    //mQ
    @include responsive(pc) {
      padding: 0 14rem;
      font-size: 3rem;
    }
  }
}
// end of header

// 2. feature

.feature {
  padding: 0 3rem;
  text-align: center;
  @include h_p;
  img {
    margin: 5rem 0;
  }
  p {
    margin-bottom: 6rem;
  }
  @include responsive(pc) {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__img {
      flex: 1 1 60%;
      & img {
        width: 100%;
        max-width: 800px;
        margin-left: -200px;
      }
    }
    &__wrapper {
      flex: 1 1 40%;
      text-align: left;
      font-size: 1rem;
      margin-right: 5rem;
    }
  }
}

//end of .feature

// 3. access
.access {
  padding: 0 2rem;
  text-align: center;
  @include h_p;

  img {
    margin: 6rem 0;
    filter: drop-shadow(0 5px 0.75rem #ebeced);
  }
  @include responsive(pc) {
    padding: 0 16rem;

    font-size: 4rem;
    & img {
      max-width: 900px;
    }
  }
}
//end of .access

// 4. workflow
.workflow {
  margin: 5rem 0;
  padding: 0 3rem;

  &__intro {
    text-align: center;
    @include h_p;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin: 6rem 0;
    }
  }
  &__card {
    @include h_p;
    text-align: center;
    & img {
      width: 50%;
      margin-bottom: 2rem;
    }
    h2,
    p {
      margin: 2rem 0;
    }
  }
  //mQ
  @include responsive(pc) {
    &__intro {
      margin-top: 5rem;
      & h1 {
        font-size: 5rem;
      }
    }
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 3fr);
    }
    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      & img {
        width: 100%;
        max-width: 80px;
        margin-bottom: 10rem;
      }
      & p {
        font-size: 2rem;
        padding: 0 4rem;
      }
    }
  }
}
// end of .workflow

//5. gallery
.gallery {
  margin: 2rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  img {
    width: 100%;
  }
  //mQ
  @include responsive(pc) {
    margin-top: 20rem;

    padding: 0 20rem;
    flex-direction: row;
    gap: 10rem;
  }
}
// end of .gallery

// 6. download
.download {
  margin: 10rem 0;
  text-align: center;
  @include h_p;
  & h1,
  p {
    padding: 0 4rem;
  }
  &__button {
    padding: 0 4rem;

    display: block;
    margin: 5rem auto;
    &--ios {
      @include buttons($cyan);
      margin-bottom: 0px;
    }
    &--mac {
      margin-top: 20px;
      @include buttons($blue);
    }
  }
  //mQ
  @include responsive(pc) {
    margin-top: 20rem;
    padding: 0 10rem;
    &__content {
      & p {
        font-size: 3rem;
        //padding: 0 5rem;
        line-height: 1.65;
      }
    }
    &__button {
      display: inline;
      margin-right: 20px;
    }
  }
}
// end of .download

// 7. footer
.footer {
  font-size: 3rem;
  color: $gray;
  text-align: center;

  background: lighten(silver, 20%);
  padding: 5rem 10rem;
  &__content {
    margin: 6rem 0;

    & ul {
      cursor: pointer;
      margin: 5rem 0;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  &__logo {
    img {
      width: 20%;
    }
  }
  &__icons {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
  }
  & .attribution {
    font-size: 1.5rem;
  }
  //mQ
  @include responsive(pc) {
    &__content {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    & ul {
      font-size: 2rem;
      flex-direction: row;
    }
    &__icons {
      gap: 2rem;
    }
  }
}
