@import "mediaQueries";
@import "variables";
@import "mixins";
@import "base";

/*
Table of contents
1. header
2. feature
3. access
4. workflow
5. gallery
6. download
7. footer
*/

// 1. header
.header {
  text-align: center;
  @include h_p;

  &__intro {
    background-image: url("/images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 0 2rem;

    margin-bottom: 5rem;
    img {
      margin: 5rem 0;
      width: 150px;
    }
  }
  &__button {
    display: block;
    margin: 5rem auto;
    &--ios {
      @include buttons($cyan);
      margin-bottom: 0px;
    }
    &--mac {
      margin-top: 15px;
      @include buttons($blue);
    }
  }
  &__track {
    padding: 0 2rem;
    margin: 10rem 0;
  }
}
// end of header

// 2. feature

.feature {
  padding: 0 3rem;
  text-align: center;
  @include h_p;
  img {
    margin: 5rem 0;
  }
  p {
    margin-bottom: 6rem;
  }
}

//end of .feature

// 3. access
.access {
  padding: 0 2rem;
  text-align: center;
  @include h_p;

  img {
    margin: 6rem 0;
    filter: drop-shadow(0 5px 0.75rem #ebeced);
  }
}
//end of .access

// 4. workflow
.workflow {
  margin: 5rem 0;
  padding: 0 3rem;

  &__intro {
    text-align: center;
    @include h_p;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin: 6rem 0;
    }
  }
  &__card {
    @include h_p;
    text-align: center;
    & img {
      width: 50%;
      margin-bottom: 2rem;
    }
    h2,
    p {
      margin: 2rem 0;
    }
  }
}
// end of .workflow

//5. gallery
.gallery {
  margin: 2rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  img {
    width: 100%;
  }
}
// end of .gallery

// 6. download
.download {
  margin: 10rem 0;
  text-align: center;
  @include h_p;
  & h1,
  p {
    padding: 0 4rem;
  }
  &__button {
    padding: 0 4rem;

    display: block;
    margin: 5rem auto;
    &--ios {
      @include buttons($cyan);
      margin-bottom: 0px;
    }
    &--mac {
      margin-top: 20px;
      @include buttons($blue);
    }
  }
}
// end of .download

// 7. footer
.footer {
  font-size: 3rem;
  color: $gray;
  text-align: center;

  background: lighten(silver, 20%);
  padding: 5rem 10rem;
  &__content {
    margin: 6rem 0;

    & ul {
      margin: 5rem 0;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  &__logo {
    img {
      width: 20%;
    }
  }
  &__icons {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
  }
  & .attribution {
    font-size: 1.5rem;
  }
}
